.menu-container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.logo {
  font-family: 'Product-Sans-Bold';
  font-size: 45px;
  color: var(--primaryTextColor);
}

.menu{
  font-family: 'Roboto Mono Bold';
  font-size: 14px;
  align-self: flex-end;
  color: var(--primaryTextColor);
  align-self: center;
}

.menu-logo{
  fill: var(--primaryTextColor);
  width: 30;
  height: 30;
  cursor: pointer;
}

.active{
  color: #70F6A9;
}

.menu-item{
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  font-family: 'Roboto Mono Regular';
  font-size: 13.5px;
}

.last{
  margin-right: 100px;
}

.briefme{
  width: 100px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: var(--primaryTextColor);
  color: var(--primaryBackground);
  display: inline-block;
  font-size: 13px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .logo{
    font-size: 27px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu-container{
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .logo{
    font-size: 28px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .menu-container{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .logo{
    font-size: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-container{
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
  }

  .logo{
    font-size: 32px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .menu-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .logo{
    font-size: 45px;
  }
}
