.menu-container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Roboto Mono Bold';
  font-size: 15px;
}

.menu{
  font-family: 'Roboto Mono Bold';
  font-size: 14px;
  align-self: flex-end;
  
}

.active{
  color: #70F6A9;
}

.menu-item{
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  font-family: 'Roboto Mono Regular';
  font-size: 13.5px;
}

.last{
  margin-right: 100px;
}

.briefme{
  width: 100px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  color: black;
  background-color: #fff;
  display: inline-block;
  font-size: 13px;
}