@font-face {
  font-family: 'Roboto Mono Bold';
  font-weight: 700;
  src: local('Roboto-Mono'), url(../fonts/Roboto-Mono/RobotoMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono Light';
  font-weight: 300;
  src: local('Roboto-Mono'), url(../fonts/Roboto-Mono/RobotoMono-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono Medium';
  font-weight: 500;
  src: local('Roboto-Mono'), url(../fonts/Roboto-Mono/RobotoMono-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono Regular';
  font-weight: 400;
  src: local('Roboto-Mono'), url(../fonts/Roboto-Mono/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono Thin';
  font-weight: 100;
  src: local('Roboto-Mono'), url(../fonts/Roboto-Mono/RobotoMono-Thin.ttf) format('truetype');
}


@font-face {
  font-family: 'Roboto Black';
  font-weight: 900;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-weight: 700;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  font-weight: 500;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  font-weight: 400;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  font-weight: 300;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  font-weight: 100;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}



@font-face {
  font-family: 'Montserrat Black';
  font-weight: 400;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 300;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 100;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
}



@font-face {
  font-family: 'Montserrat-ExtraLight';
  font-weight: 400;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 100;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 300;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Thin';
  font-weight: 100;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Thin.ttf) format('truetype');
}

/* Product Sans Font Family */
@font-face {
  font-family: 'Product-Sans-Bold';
  font-weight: 100;
  src: local('Product-Sans'), url(../fonts/Product-Sans/Product-Sans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Product-Sans-Regular';
  font-weight: 100;
  src: local('Product-Sans'), url(../fonts/Product-Sans/Product-Sans-Regular.ttf) format('truetype');
}
