html {
  --primaryBackground: #ffffff;
  --primaryTextColor: #23272D;
  --primary: #70F6A9;
}

html[data-theme="dark"] {
  --primaryBackground: #23272D;
  --primaryTextColor: #ffffff;
  --primary: #70F6A9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryBackground);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
